@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
}

html[data-theme="dark"] {
  --bg: #333333;
  --bg-panel: #434343;
  --color-headings: #3694ff;
  --color-text: #b5b5b5;
}
a {
  text-decoration: none;
}
a:active {
  color: #f3f;
}
button {
  cursor: pointer;
}
#bg {
  height: 100%;
  width: 100%;
}

#loginContainer * {
  color: #fff;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  line-height: 1em;
  box-sizing: border-box;
}

#loginContainer {
  width: 80%;
  margin: 0 auto;
  position: relative;
  max-width: 1024px;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

#inputContainer {
  width: 50%;
  padding: 20px;
  /* float: left; */
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#inputContainer h2 {
  text-align: center;
  /* color: #fff; */
}

#inputContainer input[type="text"],
#inputContainer input[type="email"],
#inputContainer input[type="password"] {
  display: block;
  background-color: transparent;
  border: 0;
  color: #555;
  height: 27px;
  line-height: 27px;
  width: 100%;
}
#inputContainer input[type="text"]:focus,
#inputContainer input[type="email"]:focus,
#inputContainer input[type="password"]:focus {
  /* border: 0; */
  outline: 0;
}
#inputContainer label {
  color: #a0a0a0;
  font-size: 13px;
  margin-top: 15px;
}

#inputContainer button {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.5s;
}

#inputContainer button:hover {
  cursor: pointer;
  background-position: right;
}
.hasAccountText span {
  font-weight: bold;
  font-size: 13px;
  color: #555;
  cursor: pointer;
}

.hasAccountText {
  text-align: center;
}

#registerForm,
#loginForm {
  display: none;
  width: 400px;
  background: white;
  color: #000;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#inputContainer .errorMessage {
  color: tomato;
  font-size: 1.1rem;
  display: block;
  text-transform: capitalize;
  margin: 0.5rem;
}
#nowPlayingBarContainer {
  width: 90%;
  background: #fff;
  bottom: 0;
  min-width: 620px;
  position: fixed;
  height: 100px;
  margin-left: 150px;
  box-shadow: 0px -5px 12px 0px rgba(48, 50, 50, 0.24);
  border-radius: 50px;
}
#nowPlayingBar {
  display: flex;
  height: 90px;
  padding: 20px;
}
#nowPlayingLeft,
#nowPlayingRight {
  width: 30%;
  min-width: 180px;
}
#nowPlayingRight {
  position: relative;
  margin-top: 16px;
}
#nowPlayingCenter {
  width: 40%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#nowPlayingBar .content {
  width: 100%;
}

.playerControls .buttons {
  margin: 0 auto;
  display: table;
}

.controlButton {
  background: #fff;
  vertical-align: middle;
  border: 0;
  outline: 0;
}

.controlButton img {
  width: 30px;
  height: 30px;
}
.controlButton .play img {
  width: 34px;
  height: 34px;
}

.playbackBar .progressTime {
  color: #a0a0a0;
  min-width: 50px;
  font-size: 12px;
  text-align: center;
}

.playbackBar {
  display: flex;
}
.playbackBar .progressBar {
  display: inline-flex;
  cursor: pointer;
  width: 100%;
  height: 12px;
  align-items: center;
}
.playbackBar .progressBar .progressBarBg {
  background: #f2f2f2;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  /* cursor: pointer; */
}

.playbackBar .progressBar .progressBarBg .progress {
  background: #f3f;
  height: 4px;
  width: 80px;
  /* cursor: pointer; */
  border-radius: 2px;
}
.albumArtwork {
  max-width: 80px;
  object-fit: cover;
  /* height: 100%; */
  margin-right: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-size: cover;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  transition: transform 0.3s ease;
  /* border: 1px solid #f3f; */
  backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.albumArtwork:hover {
  transform: rotate(10deg);
  backface-visibility: hidden;
}

#nowPlayingLeft .trackInfo {
  display: table;
}
#nowPlayingLeft .trackInfo {
  /* margin: 4px 0; */
  display: inline-block;
  width: 120px;
  /* background: black; */
  vertical-align: middle;
  /* margin-bottom: 18px; */
}
#nowPlayingLeft .trackInfo .trackName {
  color: #222;
  font-weight: bold;
}

#nowPlayingLeft .artistName {
  color: #f3f;
  font-weight: bold;
  font-size: 14px;
}

.volumeBar {
  width: 180px;
  position: absolute;
  right: 0;
}

.volumeBar .progressBar {
  /* width: 125px; */
  width: 125px;
  display: inline-block;
}
.volumeBar .progressBar .progressBarBg {
  background: #f3f;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
}

#topContainer {
  min-height: 100%;
  width: 100%;
}

#navBarContainer {
  background-color: #fff;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.navBar {
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.logo {
  margin-bottom: 15px;
}
.logo img {
  width: 34px;
}

.navBar .group {
  padding: 10px 0;
  border-top: 1px solid #a0a0a0;
}
.navBar .group .navItem {
  padding: 12px 0;
  display: block;
  position: relative;
}

.navBar .group .navItem .navItemLink {
  color: #222;
  font-size: 1.1rem;
  transition: opacity 0.3s ease;
}
.navBar .group .navItem .navItemLink:hover {
  opacity: 0.8;
}
.icon {
  position: absolute;
  right: 0;
  top: 10px;
  width: 25px;
}
#mainViewContainer {
  margin-left: 220px;
  padding-bottom: 90px;
  width: calc(100% - 220px);
}
#mainViewContainer #mainContent {
  padding: 0 100px;
}

.pageHeadingBig {
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
}

.gridViewItem {
  height: 200px;
  display: inline-block;
  margin-right: 20px;
  width: 30%;
  text-align: center;
  max-width: 200px;
  min-width: 150px;
  position: relative;
  margin-bottom: 22px;
  border-radius: 20px;
  transform: translateZ(0) scale(1, 1);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}

.gridViewItem img {
  object-fit: cover;
  opacity: 1;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: opacity 0.3s ease;
  /* margin-right: auto; */
}
.gridViewItem img:hover {
  opacity: 0.2;
}
.gridViewItem:hover {
  box-shadow: 0px 18px 58px -27px rgba(212, 21, 171, 1);
  -webkit-box-shadow: 0px 18px 58px -27px rgba(212, 21, 171, 1);
  -moz-box-shadow: 0px 18px 58px -27px rgba(212, 21, 171, 1);
}
.gridViewItem .gridViewInfo {
  font-weight: 600;

  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  transform: translateZ(0) scale(1, 1);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  text-align: center;
  padding: 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  white-space: nowrap;
  top: 50%;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
}

.entityInfo {
  padding: 40px 0 10px 0;
  display: inline-block;
  width: 100%;
}

.entityInfo .leftSection {
  float: left;
  width: 30%;
  max-width: 250px;
}

.entityInfo .leftSection img {
  max-width: 100%;
  box-shadow: 0px 18px 58px -27px rgba(212, 21, 171, 1);
  -webkit-box-shadow: 0px 18px 58px -27px rgba(212, 21, 171, 1);
  -moz-box-shadow: 0px 18px 58px -27px rgba(212, 21, 171, 1);
  border-radius: 20px;
}

.entityInfo .rightSection {
  width: 70%;
  float: left;
  padding: 5px 10px 5px 40px;
}

.entityInfo .rightSection h2 {
  margin-top: 0;
}

.entityInfo .rightSection h2 p {
  color: #939393;
}
.trackListContainer {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 30px;
}
.trackListContainer .trackInfo .ArtistName {
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  width: fit-content;
  padding: 4px 10px;
  border-radius: 40px;
  font-size: 12px;
}
.trackList {
  padding: 0;
}
.trackListRow {
  height: 100px;
  padding: 15px 25px;
  list-style-type: none;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.trackListRow:hover {
  background: #f3f3f3;
  cursor: pointer;
}
.trackListRow span {
  color: #404040;
  font-weight: 400;
}
/* 
.trackListRow:hover span,
.trackListRow .trackInfo:hover .trackName {
  color: #f3f;
} */

.trackListRow .trackCount {
  width: 8%;
  float: left;
}
.trackListRow .trackCount img {
  width: 20px;
  visibility: hidden;
  position: absolute;
  cursor: pointer;
  /* background-color: #404040; */
}

.trackListRow:hover .trackCount img {
  visibility: visible;
}

.trackListRow .trackCount span {
  visibility: visible;
}
.trackListRow:hover .trackCount span {
  visibility: hidden;
}
.trackListRow .trackInfo {
  width: 75%;
  float: left;
}

.trackListRow .trackInfo span {
  display: block;
}
.trackListRow .trackOptions {
  width: 5%;
  float: left;
  text-align: right;
}
.trackListRow .trackOptions img {
  width: 25px;
  cursor: pointer;
  visibility: hidden;
  /* background-color: #404040; */
}

.trackListRow:hover .trackOptions img {
  visibility: visible;
}

.trackListRow .trackDuration {
  width: 12%;
  float: left;
  text-align: center;
}

.trackListRow .trackInfo .trackName {
  margin-bottom: 7px;
  color: #404040;
}

.avatar-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s;
}
.avatar-container:hover {
  transform: rotate(30deg);
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

#illustration {
  width: 25%;
  top: 30%;
  left: 22%;
  position: absolute;
}
#illustration img {
  max-width: 100%;
  height: auto;
}
.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  transition: 0.3s;
}
.input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}
.input-div:before,
.input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #38d39f;
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > label {
  top: -5px;
  font-size: 15px;
}

.input-div.focus > .i > i {
  color: #38d39f;
}

.input-div > div > input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: "poppins", sans-serif;
}
.input-div div {
  position: relative;
  height: 45px;
}

.input-div.pass {
  margin-bottom: 4px;
}
.artistInfo {
  text-align: center;
}

.button {
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #f3f;
  font-weight: 600;
  letter-spacing: 2px;
  border: 2px solid #f3f;
  border-radius: 500px;
  min-width: 249px;
  padding: 6px 40px;
  font-size: 1.1rem;
  transition: box-shadow 0.3s ease;
  font-family: "Poppins", serif;
  height: 50px;
}

.button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
[role="link"] {
  cursor: pointer;
}

.searchContainer {
  background: #242424;
  padding: 20px 28px;
}
.searchContainer h4 {
  margin: 0;
  font-weight: 300;
  color: #fff;
}

.searchContainer .searchInput {
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: 2px;
}

input:focus {
  outline: 0;
}

.searchResultRow {
  padding: 15px 10px;
}
.searchResultRow:hover {
  background: #282828;
}
.searchResultRow .artistName span {
  color: #000;
}

.line {
  height: 3px;
  outline: none;
  border: none;
  background: #f3f;
  border-radius: 5px;
  width: 200px;
  margin-bottom: 50px;
}

.btn-danger {
  background-image: linear-gradient(
    to right,
    #16222a 0%,
    #3a6073 51%,
    #16222a 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}
.btn-danger:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.home-page-icon {
  /* background: #f3f; */
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  transform: translateZ(0) scale(1, 1);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}
.home-page-icon:hover {
  transform: rotate(15deg);
}
.userInfo h1 {
  text-emphasis: accent;
}
.userDetails {
  padding: 20px;
}
.userDetails .container-fluid h2 {
  text-align: center;
}
.userDetails .container-fluid input[type="text"],
.userDetails .container-fluid input[type="password"],
.userDetails .container-fluid .button {
  display: block;
  margin: 18px auto;
}
.userDetails .container-fluid input[type="text"],
.userDetails .container-fluid input[type="password"] {
  height: 50px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  padding: 0 20px;
  border-radius: 30px;
}
.userDetails .container-fluid .message {
  color: #32be8f;
  font-weight: 600;
}
::placeholder {
  color: #ccc;
}
.optionsMenu {
  background: #f3f3f3;
  width: 200px;
  z-index: 1000;
  position: fixed;
  border-radius: 5px;
  display: none;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}
.optionsMenu .item {
  width: 100%;
  padding: 12px 20px;
  font-weight: 300;
  height: 50px;
  cursor: pointer;
  transition: 0.3s ease;
}
.optionsMenu .item:hover {
  /* opacity: 0.8; */
  background-color: #f3f;
  color: #fff;
}
.forgot-pwd {
  text-decoration: none;
  color: #32be8f;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
